/* Fonts */
@font-face {
    font-family: "Estedad-Light";
    src: url("../../fonts/estedad/Estedad-Light.ttf")
}

@font-face {
    font-family: "Estedad-Regular";
    src: url("../../fonts/estedad/Estedad-Regular.ttf")
}

@font-face {
    font-family: "Estedad-Bold";
    src: url("../../fonts/estedad/Estedad-Bold.ttf")
}

:root {
    --default-font-light: "Estedad-Light";
    --default-font-regular: "Estedad-Regular";
    --default-font-bold: "Estedad-Bold";
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
    --background-color: #ffffff;
    /* Background color for the entire website, including individual sections */
    --default-color: #444444;
    /* Default color used for the majority of the text content across the entire website */
    --heading-color: #556270;
    /* Color for headings, subheadings and title throughout the website */
    --accent-color: #d9232d;
    /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff;
    /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff;
    /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
    --nav-color: #556270;
    /* The default color of the main navmenu links */
    --nav-hover-color: #d9232d;
    /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff;
    /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff;
    /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #556270;
    /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #d9232d;
    /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
    --background-color: #f2f4f6;
    --surface-color: #ffffff;
}

.dark-background {
    --background-color: #3b4654;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #444e5b;
    --contrast-color: #ffffff;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body,
html {
    font-family: var(--default-font-regular);
    direction: rtl;
    width: 100% !important;
    height: 100% !important;
}

body {
    min-height: 700px;
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--default-font-bold);
}

/*--------------------------------------------------------------
# Main Scrollbar
--------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    display: none;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #979797;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}