{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

    {% block header_reference %}{% endblock %}
    {% block meta_tags %}{% endblock %}
</head>
<body>

{% render_partial 'app_core.views.site_view.mainHeaderComponent' %}

<main>
    {% block content %}{% endblock %}
</main>

{% render_partial 'app_core.views.site_view.mainFooterComponent' %}

{% block footer_reference %}{% endblock %}

</body>
</html>